.bc-ellipsis{all:unset;cursor:pointer;display:inline-flex;align-items:center;padding:2px 6px;border-radius:var(--salt-curve-50);background:transparent;color:var(--salt-content-secondary-foreground);font-weight:var(--salt-text-fontWeight-strong)}
.bc-ellipsis:hover{background:var(--salt-actionable-subtle-background-hover)}
